@media screen and (max-width: 399px) {
    .tb-cont-row-top-r{
      clear: both;
      width: 100%;
    }
    .tb-cont-row-top-r-desc{
      width: 50%;
    }
    body {
      padding-left: 0;
      padding-right: 0;
    }
}

@media screen and (max-width: 866px) {
    .tb-content-d,
    .tb-content-buttom {
        width: 96%;
    }
}

@media screen and (max-width: 991px) {
    #menu_e {
        display: block;
    }

    .m_top_cont {
        width: 15%;
    }

    .m_top {
        display: none;
    }

    #menu_e {
        margin-right: 10px;
    }
}

@media screen and (min-width: 992px) {
    #menu_e {
        display: none;
    }

    .m_top {
        display: block;
    }
}