@media screen and (max-width: 559px) {

  /* I like this..  Should be applied to 'service'as well.  This does not affect 'nav' section. */
  body {
    padding: 20px 20px;
  }

  .bg-color-program {
    /* display: none; */
    /*height: unset;
    background-color: unset;
    border-bottom: none;*/
  }

  .bg-color-program .nav_child {
    /*display: none;*/
  }

  .logo_log {
    text-align: center;
    display: block;
    display: table;
    margin: 0 auto;
  }

}